VisualElement {
}

.FullScreenBG {
    flex-grow: 1;
    background-image: url('project://database/Assets/_Plugins/PolygonShops/Textures/PolygonShops_Building_Brick_White_01.png?fileID=2800000&guid=f1bf5f87c370bd94a8171881e25b963c&type=3#PolygonShops_Building_Brick_White_01');
    -unity-background-scale-mode: scale-and-crop;
    align-items: center;
    justify-content: flex-start;
}

.RecipeParent {
    width: 500px;
    height: 250px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-image: url('project://database/Assets/_Plugins/GUI%20PRO%20Kit%20-%20Fantasy%20RPG/ResourcesData/Sprites/Component/Frame/frame_stageframe_04_d.png?fileID=2800000&guid=9d3b67463bf7f4935a3aa15d2fe8453c&type=3#frame_stageframe_04_d');
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.49);
}
